<!Doctype html>
html(lang="ru-Ru")
  head 
    meta(charset="UTF-8")
    title timeline
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/style.min.css")
    

  body
    main.container
      include ../sections/timeline
    script(src="js/script.js")
